@font-face {
	font-family: bit;
	src: url("font/8-BIT_WONDER.TTF");
}

* {
	box-sizing: border-box;
	font-family: bit;
	font-size: 15px;
}
/* Table */
#myInput {
	/* background-image: url("/pics/icon/search.png");  Add a search icon to input */
	background-position: 10px 12px; /* Position the search icon */
	background-repeat: no-repeat; /* Do not repeat the icon image */
	width: 100%; /* 40-width */
	font-size: 16px; /* Increase font-size */
	padding: 12px 20px 12px 40px; /* Add some padding */
	border: 1px solid #ddd; /* Add a grey border */
	margin-bottom: 12px; /* Add some space below the input */
}

#myTable {
	border-collapse: collapse; /* Collapse borders */
	width: 100%; /* 40-width */
	border: 1px solid #ddd; /* Add a grey border */
	font-size: 18px; /* Increase font-size */
}

#myTable th,
#myTable td {
	text-align: center; /* Left-align text */

	padding: 12px; /* Add padding */
}

#myTable tr {
	/* Add a bottom border to all table rows */
	border-bottom: 1px solid #ddd;
}
#myTable tr.header th {
	background-color: teal;
	color: whitesmoke;
}

#myTable tr:hover {
	/* Add a grey background color to the table header and on hover */
	background-color: mediumaquamarine;
}

/* Input Tel */
.InputTel {
	margin-bottom: 10px;
}

/* btn-active */
.btn-active {
	width: 110px;
	border-radius: 5px;
	border-color: steelblue;
	color: steelblue;
}
.btn-active:hover {
	color: snow;
	background-color: steelblue;
}

/* btn-pay */
.btn-pay {
	width: 100px;
	border-radius: 5px;
	border-color: seagreen;
	color: seagreen;
}
.btn-pay:hover {
	color: snow;
	background-color: seagreen;
}

/* btn-clear & btn-edit */
.btn-clear,
.btn-delete {
	width: 100px;
	border-radius: 5px;
	border-color: maroon;
	color: maroon;
}
.btn-clear:hover,
.btn-delete:hover {
	color: snow;
	background-color: maroon;
}

/* showDate */
#showTime {
	font-size: 4em;
	text-align: center;
}

/* Side nav */
.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: teal;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
}

.sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 15px;
	color: whitesmoke; /* #818181*/
	display: block;
	transition: 0.3s;
}

.sidenav a:hover {
	color: black;
}

.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 30px;
	margin-left: 50px;
}

@media screen and (max-height: 700px) {
	.sidenav {
		padding-top: 15px;
	}
	.sidenav a {
		font-size: 15px;
	}
}

button {
	margin-right: 10;
}

/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 70%; /* Full width */
	height: 70%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
}

/* The Close Button */
.close-search-emp,
.close-search-cus,
.close-reg-emp,
.close-delete-emp,
.close-expense-cus-perday,
.close-expense-emp-perday,
.close-expense-daily {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close-search-emp:hover,
.close-reg-emp:hover,
.close-search-cus:hover,
.close-delete-emp:hover,
.close-expense-cus-perday:hover,
.close-expense-emp-perday:hover,
.close-expense-daily:hover,
.close-expense-daily:focus,
.close-expense-emp-perday:focus,
.close-expense-cus-perday:focus,
.close-delete-emp:focus,
.close-search-cus:focus,
.close-search-emp:focus,
.close-reg-emp:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}
